.flex-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: left;
}

input {
    margin: 5px;
    width: 250px;
}

button {
    margin: 5px;
}

#output {
    color: white;
}