body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  width: 100vw;
}

.counter {
    position: absolute;
    color: grey;
    font-family: sans-serif;
    font-size: 0.8rem;
    left: 10px;
    bottom: 5px;
}

.mobile-controls .counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    bottom: -10px;
    z-index: 3;
}

.mobile-controls {
    position: relative;
    margin: 0;
    padding: 0;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 25px; 
  width: 250px;
}

/*
label.checkbox > input {
	width: 30px;
}

label.checkbox {
	display: block;
	width: 100%;
	max-width: 95vw;
}
*/

.chkbx-form {
  display: flex;
  flex-flow: row wrap;
}

.chkbx-unit {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 5px;
  width: 100%;
}

input[type="checkbox"]
{
  margin: 5px 10px;
  width: 13px;
  height: 13px;
}

.mobile-controls>button {
	display: none;
}

select {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  width: 250px;
}

#inputCopies {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 355px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.copy_border {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  padding: 10px;
  margin: 20px 10px;
  width: 355px;
}

.copy_border div {
	max-width: 100%;
}

.copy_control {
  display: flex;
  justify-content: space-around;
  align-items: top;
  position: relative;
  top: -25px;
  left: 40%;
  z-index: 100;
  width: 75px;
  height: 26px;
}

.copy_btn {
  cursor: pointer;
  background: white;
  color: #cccccc;
  padding: 3px;
}

.copy_btn.lite {
  color: blue;
}

.copy_border.lite {
  border-color: blue;
}

.warn {
  size: 0.5rem;
}

.highlight {
  background: yellow;
}

mark {
  background: yellow;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px blue;
}

@media only screen and (max-width: 375px) {
	body {
		width: 95vw;
		overflow-x: hidden;
	}

	.mobile-controls button {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: lightgrey;
		border-style: none;
		color: white;
		font-family: monospace;
		height: 65px;
		width: 65px;
		right: 20px;
		top: 20px;
		border-radius: 10px;
		font-size: 2rem;
		z-index: 3;
	}

	.mobile-controls textarea {
		font-size: 1rem;
	}

	#inputCopies {
		margin: 10px;
		padding: 10px 70px 10px 10px;
		border-radius: 10px;
		max-width: 95vw;
		min-height: 80px;
	}

	.copy_border {
		padding: 10px;
		margin: 20px 10px;
		width: 95vw;
	}

	.copy_control {
		display: flex;
		justify-content: space-around;
		align-items: top;
		position: relative;
		top: -25px;
		left: 40%;
		z-index: 2;
		width: 75px;
		height: 26px;
	}
}
